.theme-light {
    --black-pure: #000000;
    --black-1: #202020;
    --black-2: #242438;
    --gray-1: #4f4f4f;
    --gray-2: #494955;
    --gray-3: #828282;
    --gray-4: #bdbdbd99;
    --gray-trans: #bdbdbd44;
    --orange: #f2994a;
    --white-pure: #ffffff;
    --square: #828282;
}

.theme-dark {
    --black-pure: #eeeeee;
    --black-1: #eeeeee;
    --black-2: #dfbf8e;
    --gray-1: #dfbf8e;
    --gray-2: #ea6962;
    --gray-3: #928374;
    --gray-4: #50494599;
    --gray-trans: #50494544;
    --orange: #e78a4e;
    --white-pure: #282828;
    --square: #cfab89;
}
