@import "colors";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
    position: relative;
    letter-spacing: 0.04em;
}

body {
    margin: auto;
    max-width: 800px;
    background-color: var(--white-pure);
}

a {
    text-decoration: none;
}

.header {
    margin-left: 54px;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 58px;
        color: var(--black-2);
        font-weight: 400;
        width: 240px;
        margin-right: 0;
        width: fit-content;
        display: inline-block;
        position: relative;
        transition: color 0.15s;

        &:hover {
            color: var(--black-pure);
        }

        .highlighter {
            background: var(--orange);
            height: 28px;
            width: 240px;
            opacity: 0.25;
            position: absolute;
            bottom: -2px;
            left: -10px;
            transition: opacity 0.15s;

            &:hover {
                opacity: 0.45;
            }
        }
    }

    .theme-changer {
        align-self: center;
        font-size: 12px;
        font-weight: bolder;
        margin-right: 5vw;
        cursor: pointer;
        color: var(--black-pure);
        padding: 6px;
        border-radius: 2px;
        transition: 0.15s;

        &:hover {
            color: var(--white-pure);
            background-color: var(--black-pure);
        }
    }
}

.main {
    margin-bottom: 5em;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;

    .item {
        font-weight: 700;
        font-size: 13px;
        color: var(--gray-2);
        transition: color 0.15s;

        &:hover {
            color: var(--black-pure);
        }
    }
}

span.square {
    display: inline-block;
    background-color: var(--square);
    width: 4px;
    height: 4px;
}

.tooltip {
    position: relative;
    cursor: pointer;

    &:hover:before {
        display: block;
    }

    &:before {
        content: attr(data-text); /* here's the magic */
        position: absolute;

        /* vertically center */
        left: 50%;
        transform: translateX(-50%);

        /* move to right */
        bottom: 100%;
        margin-bottom: 6px; /* and add a small left margin */

        /* basic styles */
        width: 220px;
        padding: 10px;
        background: var(--black-1);
        color: var(--white-pure);
        text-align: center;
        display: none;
    }
}
